<div class="jumbotron">
    <h3>QualiExplore</h3>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-xl-4 col-md-4 col-sm-6 col-6">
        <form action="" class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" class="form-control">
            <label for="Password">Password:</label>
            <input type="password" id="Password" class="form-control">
            <br>
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
    </div>
</div>


